body {
    margin: 1px;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 100vh; */
    min-height: 100vh;
    flex-direction: column;
    background-image: url(./img/homepage-gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Droid serif', serif;
}


canvas {
    width: 100%;
    height: auto;
    max-width: 1024px;
    max-height: 576px;
    background-repeat: repeat; 
    background-size: cover; 
    z-index: 2;
}
#bg {
    position: fixed;
    background-image: url('./img/cloud.gif');
    background-size: cover;
    background-repeat: repeat;
    width: 80%;
    height: auto;
    max-width: 1024px;
    max-height: 576px;
}

h1 { color: #ffffff; 
  font-family: 'Droid serif', 
  serif; font-size: 46px; 
  font-weight: 400; 
  font-style: italic; 
  line-height: 44px; 
  margin: 0 0 12px; 
  text-align: center; }
label{
    color: white;
}
#btn-start{
    max-width: 300px;
}

#info {
    position: fixed;
    top: 0;
    margin-top: 50px;
  }
  
  #difficulty-row, #start-button-row , #titolo , #info{
    opacity: 0;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn ease 1s forwards;
  }
  
